
#contentsite{
    width: 100vw;
    height:100vh;    
    justify-content: center;
}
#header {
    display: flex;
    align-items: center;
}
.menuhamburger {
    display: none;
}
.linemenu {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-blackblue);
}


.bannerbox {
    display: flex;
    justify-content: center;
    width: 100vw;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: var(--color-white);
    z-index: 2;
}
#banner {
    display: inline-block;
    background-image: url("../assets/images/Banner.png");
    width: 100vw;
    height:calc((100vw) / 2.43);
    background-repeat: round;
}

.banner-options {
    position: absolute;
    width: 100vw;
    max-width: 1150px;
    z-index: 1;
    font-family: Roboto;
    text-transform: uppercase;
    top: 220px;
}

.title {
    color: var(--color-eclipsegray);
    font-size: 44px;
}
.subtitle {
    color: var(--color-dimgray);
    font-size: 26px;
    margin-top: 1em;
}
.btn,
.btn:visited,
.btn:active,
.btn:focus
 {
    display: flex;
    width: 168px;
    height: 51px;
    color: var(--color-white);    
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    font-family: Roboto;
    text-transform: uppercase;
}
.buttonheader {
    border: 1px solid var(--color-limegreen);
    background-color: var( --color-limegreen);
}
.buttonheader:hover {
    color: var( --color-limegreen);
    background-color: var(--color-white);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}
.navbar {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#navbarcontent {
    position: fixed;
    top: 0;
    display: flex;
    width: 100vw;
    max-width: 1150px;
    z-index: 3;
}
.logoimg {
    display: block;
    background-repeat:no-repeat;
    background-image: url(/assets/images/mobile/logo-vasta.png);
    width: 104px;
    height: 30px;
    margin: 16px 25px 0 0;
}

#menunav {
    margin: 16px 25px 0 auto;
    height: 30px;
    padding-top: 10px;
    display: flex;
}
.menuoption{    
    width: 8vw;
    max-width: 120px;
    color: var(--color-blackblue);
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.logoimg:hover, .menuoption:hover{
    opacity: 0.7;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.btn-content {
    border: 1px solid var(--color-mysticblue);
    background-color: var(--color-mysticblue);
    font-size: 18px;
    cursor: pointer;
}
.btn-content:hover {
    color: var(--color-mysticblue)!important;
    background-color: var(--color-white);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.section-container {
    margin-top: 80px;
    width: 100vw;
}
.section-subject {
    margin: 15px auto;
    max-width: 1150px;
    text-align: center;
    font: 35px "Open Sans";
    color: var(--color-blackblue);
    text-transform: uppercase;
}
.container-about {
    display: flex;
    margin: 25px auto;
    max-width: 1150px;
}
.wrapper-image-about:nth-child(1) {
    background-image: url("../assets/images/imageabout.png");
    width: 396px;
    height: 341px;
}
.wrapper-image-about:nth-child(2) {
    background-image: url("../assets/images/imageabout2.png");
    width: 273px;
    height: 256px;
}
.wrapper-text:nth-child(1) {
    max-width: 850px;
    margin: 0 2em 0 0;
}
.wrapper-text:nth-child(2) {
    max-width: 722px;
    margin: 0 0 0 2em;
}
.section-text {
    font: 0.88em Roboto;
    color: var(--color-blackblue);
    letter-spacing: 0.7px;
    line-height: 25px;    
}

#botao-about {
    margin: 25px 0;
}

.content-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    max-width: 1000px;
    margin: 0 auto;
}

.img-portfolio {
    width: 100%;
}

.testimonials {
    width: 100%;
}

.testimonials__container {
    width: 1182px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 48px 1fr 48px;
}

.chevron {
    width: 48px;
    height: 100%;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.chevron:hover {
    opacity: .5;
}

.chevron-right {
    background-image: url(/assets/images/chevron_right.svg);
}

.chevron-left {
    background-image: url(/assets/images/chevron_left.svg);
}

.testimonials__carousel {
    width: 1086px;
    overflow: hidden;
    margin: 0 auto;
}

.testimonials__content {
    width: 2172px;
    max-width: 2172px;
    margin: 0 auto;
    display: flex;
    transform: translateX(0);
    transition: transform .5s ease-in-out .1s;
}

.testimonial {
    width: 362px;
    height: 97px;
}

.testimonial__stars {
    display: flex;
    width: 100%;
}

.testimonial__star {
    background-image: url('/assets/images/star.svg');
    width: 14px;
    height: 13px;
    margin-bottom: 5px;
}

.testimonial__content {
    display: flex;
}

.testimonial__picture {
    width: 74px;
    height: 74px;
    background-color: hsl(0, 0%, 79%);
}

.testimonial__text {
    width: calc(100% - 79px);
    height: 97px;
    margin-left: 16px;
    font-family: Roboto;
}

.testimonial__title {
    margin: 0 0 10px 0;
}

.testimonial__body {
    font-size: 10px;
    letter-spacing: 0.7px;
    line-height: initial;
    color: var(--color-blackblue);
}
.section-contact-us{
    margin-top: 50px;
    display: flex;
    flex-flow: column;
}

#personaldata{
    display:flex;
    margin: 0 auto 30px auto;
  }

.basicdata {
    width: 254px;
    height: 39px;
    font-size: 15px;
    font-family: Roboto;
    color: var(--color-blackblue);
    padding-left: 15px;
}

.basicdata::placeholder{
    color: var(--color-blackblue);
    opacity: 1;
    font-size: 15px;
    font-family: Roboto;
}
#input-lastname, #input-email {
    margin-left: 36px;
}
#commondata {
    margin: 0 auto 30px auto;
    display: inline-grid;
    grid-template-rows: 75px 45px;
    grid-template-columns: 454px 258px 186px;
}
.message {
    width: 433px;
    height: 104px;
    padding-top: 12px;
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: span 1;
    resize: none;
}

.telephone {
    width: 393px;
    margin-left: 30px;
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 2;
    grid-column-end: span 2;
}
.button-submit {
    margin-top: 0;
    text-decoration: none;
    background-color: var(--color-limegreen);
    border: 1px solid var(--color-limegreen);
    width: 186px;
    height: 45px;
}
#btn-send {
    grid-row-start: 2;
    grid-row-end: span 1;
    grid-column-start: 3;
    grid-column-end: span 1;
}
.button-submit:hover {
    color: var(--color-limegreen);
    background-color: var(--color-white);
    cursor: pointer;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}
#infoaboutdata{
    margin-left: 30px;
    font-size: 10px;
    width: 158px;
    grid-column-start: 2;
    grid-column-end: span 1;
}
#info a{
    color:var(--link);
}
footer {
    width: 100vw;
    height: 381px;
    margin-top: 50px;
    background-color: var(--color-nightgray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    color: var(--color-blackblue)
}

.footer-sub-section {
    font-family: Roboto;
    height: 321px;
    border: 3px solid var(--color-white);
    display: flex;
    flex-flow: column;
}
#newsletter {
    width: 540px;    
    border-right: 1px solid var(--color-white);
}
#info-menu {
    width: 596px;
    border-left: 1px solid var(--color-white);
}
.footer-title{
    margin-top: 23px;
    font: 19px Roboto;
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    height: 14px;
}
.menu-title{
    text-align:left;
    margin-bottom: 29px;
}
.sub{
    font-size: 18px;
    text-align: left;
    margin-left: 19px;
    height: 18px;
}
#formnewsletter {
    margin: 30px auto;
    display: flex;
}
#input-newsletter-email {
    width: 294px;
    height: 39px;
    padding-left: 12px;
    max-height: 45px;
    font-size: 15px;
    font-family: Roboto;
}

#portfolio-links {
    display: grid;
    margin: 19px 0 0 19px;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px;
    column-gap: 22px;
}
.link-wrapper {
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 83px 17px;
}

.portfolio-links{
    display: block;
    width: 100px;
    height: 17px;
    background-color: var(--color-browngray);
    opacity: 0.8;
    color: var(--color-white);
    font: 13px Roboto;
    text-align: center;
    text-transform: uppercase;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}
.portfolio-links:hover{
    background-color: var(--color-white);
    color: var(--carbon-light);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.portfolio-images {
display: flex;
gap: 20px;

}
#menus-footer{
    display: flex;
}
#menufooter-map{ 
    margin-left: 40px;
    margin-right: 120px;
}
#menu-about-us{
    margin-left: 121px;
}
.footermenus-options{
    color: var(--color-white);
    text-transform: capitalize;
    font: 14px Roboto;
    margin: 10px 0 10px 0;
}
#footer-imglogo {
    display: flex;
    margin-top: 53px;
    justify-content: center;
}
#footer-imglogo a:hover{
    opacity: 0.7;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}